@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: rgb(114, 128, 167);
    --dark-blue: hsl(223, 47%, 23%);

    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--dark-blue);
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    background-color: var(--pale-blue);
}

img {
    max-height: 100%;
    max-width: 100%;
}

h1 {
    font-weight: 900;
}

p {
    color: var(--desaturated-blue);
}

button {
    padding: 16px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    font-weight: 900;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}

.payment_button {
    background-color: var(--bright-blue);
    color: white;
    width: 100%;
}

.cancel_button {
    background-color: white;
    color: var(--desaturated-blue);
    width: fit-content;
    height: min-content;
}

.bold {
    font-weight: 900;
}

.container {
    display: flex;
    flex-direction: column;
    width: 350px;
    border-radius: 15px;
    overflow: hidden;
}

.content {
    padding: 32px 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.plan_content {
    display: flex;
    background-color: var(--very-pale-blue);
    align-items: center;
    border-radius: 10px;
    padding: 16px;
    column-gap: 16px;
}

.title_pricing {
    flex-grow: 2;
    text-align: left;
}

.price {
    color: var(--desaturated-blue);
}

.change {
    font-weight: 700;
    color: var(--bright-blue);
}

.clickable {
    cursor: pointer;
}

.shadow {
    box-shadow: 0 15px 10px -10px rgba(114, 128, 167);
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.payment_button:hover {
    background-color: var(--desaturated-blue);
}

.cancel_button:hover {
    color: var(--dark-blue);
}

.change:hover {
    text-decoration: none;
}
